////
/// @group app
/// @author kmturley
////

@import '../list/list';

/// App class
.app {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 20px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: normal;
        line-height: 1em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0 0 1rem;
    }

    h1 { font-size: 3.5em; }
    h2 { font-size: 3em; }
    h3 { font-size: 2.5em; }
    h4 { font-size: 2em; }
    h5 { font-size: 1.5em; }
    h6 { font-size: 1em; }
}
