body {
	color: #404040;
	font-family: "Roboto Slab", "Helvetica", serif;
	font-size: 16px;
	line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #404040;
	font-family: "Roboto", "Helvetica", sans-serif;
	font-weight: 300;
	line-height: 1em;
	word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0 0 1rem;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 1em;
}

a {
	color: #e95b4b;
	transition-property: color;
}

a:hover {
	color: #8a1d11;
}

html,
body,
.main {
	height: 100%;
	margin: 0;
}

body {
	background-color: #f2f2f2;
}

.main {
	box-sizing: border-box;
	padding-top: 3em;
}

.anchor {
	margin-top: -3em;
	padding-top: 3em;
}

.t {
	display: table;
	height: 100%;
	width: 100%;
}

.tc {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.section {
	box-sizing: border-box;
	padding: 1em;
}

.section img {
	display: block;
	margin: 0 0 1rem;
	max-width: 100%;
}

.section .panel {
	background-color: #f2f2f2;
	margin: 0 0 1rem;
	padding: 1em;
}

.fit-height {
	height: 100%;
}

.fit-widescreen {
	padding-top: 56.25% !important;
	position: relative;
}

.fit-widescreen .inner {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.section > *:last-child,
.section .panel > *:last-child,
.tabs .tab > *:last-child,
.section > *:last-child > *:last-child,
.section .panel > *:last-child > *:last-child,
.tabs .tab > *:last-child > *:last-child,
.section > *:last-child > *:last-child > *:last-child,
.section .panel > *:last-child > *:last-child > *:last-child,
.tabs .tab > *:last-child > *:last-child > *:last-child,
.section > *:last-child > *:last-child > *:last-child > *:last-child,
.section .panel > *:last-child > *:last-child > *:last-child > *:last-child,
.tabs .tab > *:last-child > *:last-child > *:last-child > *:last-child {
	margin-bottom: 0;
}

a,
.shadow-animate,
.header .btn .menu,
.header .navicon-button .navicon:before,
.header .navicon-button .navicon:after,
.header .navicon,
.header .navicon:before,
.header .navicon:after,
.tabs label {
	transition: .2s ease-out;
}

.shadow,
.shadow-animate,
.header {
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.shadow-animate {
	transition-property: box-shadow;
}

.shadow-animate:hover {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.material-icons {
	direction: ltr;
	display: inline-block;
	font-family: 'Material Icons';
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	vertical-align: middle;
	line-height: 0;
	margin-top: -5px;
}

.debug {
	background-image: linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
	background-size: 8px 8px, 8px 8px, 16px 16px, 16px 16px;
}

.debug h1,
.debug h2,
.debug h3,
.debug h4,
.debug h5,
.debug h6,
.debug p {
	background-color: rgba(255, 0, 0, 0.1);
}

.debug .col,
.debug .panel {
	background-color: rgba(0, 255, 255, 0.1);
}

.banner {
	background-color: #000;
	background-image: url("../img/alley.jpg");
	background-size: cover;
}

.banner .inner {
	background-color: rgba(0, 0, 0, 0.1);
}

.banner .title {
	color: #fff;
	margin: 0;
}

.red {
	background-color: #e95b4b;
}

.red h2 {
	color: #fff;
}

.header {
	background-color: #fff;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.header .logo {
	float: left;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 2rem;
	padding: .5rem 1rem;
	text-decoration: none;
}

.header ul,
.header li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.header li a {
	border-right: 1px solid #f2f2f2;
	display: block;
	padding: 1em;
	text-decoration: none;
}

.header li a:hover {
	background-color: #f2f2f2;
}

.header .btn .menu {
	border-top: 1px solid #f2f2f2;
	height: 0;
	overflow: hidden;
	transition-property: height;
}

.header .btn:hover .menu {
	height: 224px;
}

.header .btn-link {
	float: right;
	font-size: 1.5em;
	line-height: 2rem;
	padding: .5rem 1rem;
}

.header .menu {
	clear: both;
}

.header .navicon-button {
	display: inline-block;
	float: right;
	padding: 23px 15px;
	position: relative;
}

.header .navicon {
	display: block;
	background: gray;
	height: 2px;
	position: relative;
	width: 18px;
	transition-property: background;
}

.header .navicon:before,
.header .navicon:after {
	background: gray;
	display: block;
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
}

.header .navicon:before {
	top: 5px;
}

.header .navicon:after {
	top: -5px;
}

.btn:hover .navicon {
	background: transparent;
}

.btn:hover .navicon:before {
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.btn:hover .navicon:after {
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.btn:hover .menu {
	height: 204px;
}

.btn:hover:not(.steps) .navicon:before,
.btn:hover:not(.steps) .navicon:after {
	top: 0;
}

.tabs {
	padding: 0;
}

.tabs input {
	display: none;
}

.tabs input:checked + label {
	background-color: #fff;
	color: #404040;
}

.tabs label {
	color: #bfbfbf;
	cursor: pointer;
	float: left;
	padding: 1em;
	text-align: center;
	transition-property: background-color, color;
}

.tabs label:hover {
	color: #404040;
}

.tabs .tabs-wrap {
	clear: both;
}

.tabs .tab {
	background-color: #fff;
	display: none;
	padding: 1em;
}

.tabs-full label {
	display: table-cell;
	float: none;
	width: 1%;
}

#tab1:checked ~ .tabs-wrap #tab1content,
#tab2:checked ~ .tabs-wrap #tab2content,
#tab3:checked ~ .tabs-wrap #tab3content {
	display: block;
}

@media (min-width: 768px) {

.section {
	margin: 0 auto;
	max-width: 64em;
	overflow: hidden;
	padding: 2em;
}

.section .panel {
	padding: 2em;
}

.fit-widescreen,
.fit-width {
	max-width: 100%;
}

.row {
	clear: both;
	margin: 0 -1em;
}

.col {
	box-sizing: border-box;
	float: left;
	padding: 0 1em;
}

.w1of1 {
	width: 100%;
}

.w1of2 {
	width: 50%;
}

.w1of3 {
	width: 33.33333%;
}

.w2of3 {
	width: 66.66666%;
}

.w1of4 {
	width: 25%;
}

.w3of4 {
	width: 75%;
}

.w1of5 {
	width: 20%;
}

.w2of5 {
	width: 40%;
}

.w3of5 {
	width: 60%;
}

.w4of5 {
	width: 80%;
}

.h1of1 {
	height: 100%;
}

.h1of2 {
	height: 50%;
}

.h1of3 {
	height: 33.33333%;
}

.h2of3 {
	height: 66.66666%;
}

.h1of4 {
	height: 25%;
}

.h3of4 {
	height: 75%;
}

.h1of5 {
	height: 20%;
}

.h2of5 {
	height: 40%;
}

.h3of5 {
	height: 60%;
}

.h4of5 {
	height: 80%;
}

.header ul {
	float: right;
}

.header li {
	float: left;
}

.header li a {
	line-height: 2rem;
	padding: .5rem 1rem;
}

.header .btn .menu {
	border-top: 0;
	height: auto;
}

.header .btn:hover .menu {
	height: auto;
}

.header .btn-link {
	display: none;
}

.header .navicon-button {
	display: none;
}

.btn:hover .menu {
	height: auto;
}

}

