////
/// @group type
/// @author kmturley
////

body {
    color: $color-grey-dark;
    font-family: $font-family-serif;
    font-size: $font-size;
    line-height: $line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-grey-dark;
    font-family: $font-family;
    font-weight: 300;
    line-height: $line-height-lg;
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 1rem;
}

h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1em; }
h5 { font-size: 1em; }
h6 { font-size: 1em; }


a {
    @extend %transition;
    color: $color-red;
    transition-property: color;

    &:hover {
        color: $color-red-hover;
    }
}