////
/// @group utils
/// @author kmturley
////

%last-margin {
    > *:last-child,
    > *:last-child > *:last-child,
    > *:last-child > *:last-child > *:last-child,
    > *:last-child > *:last-child > *:last-child > *:last-child {
        margin-bottom: 0;
    }
}

%transition {
    transition: .2s ease-out;
}

.shadow {
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
}

.shadow-animate {
    @extend .shadow;
    @extend %transition;
    transition-property: box-shadow;
    &:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
    }
}

.debug {
    background-image: linear-gradient(rgba(0,0,0,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,0.05) 1px, transparent 1px),
    linear-gradient(rgba(0,0,0,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,0.05) 1px, transparent 1px);
    background-size: 8px 8px, 8px 8px, 16px 16px, 16px 16px;
}

.debug h1,
.debug h2,
.debug h3,
.debug h4,
.debug h5,
.debug h6,
.debug p {
    background-color: rgba(255, 0, 0, 0.1);
}

.debug .col,
.debug .panel {
    background-color: rgba(0, 255, 255, 0.1);
}
