////
/// @group variables
/// @author kmturley
////

// breakpoints
$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 1025px !default;
$screen-lg: 1280px !default;

// fonts
$font-family: 'Roboto', 'Helvetica', sans-serif;
$font-family-serif: 'Roboto Slab', 'Helvetica', serif;
$font-size: 16px !default;
$line-height: 1.5em !default;
$line-height-lg: 1em !default;

// colors
$color-black: #000;
$color-black-trans: rgba(0, 0, 0, .1);
$color-black-trans2: rgba(0, 0, 0, .2);
$color-grey-darker: lighten($color-black, 5%);
$color-grey-dark: lighten($color-black, 25%);
$color-grey: lighten($color-black, 50%);
$color-grey-light: lighten($color-black, 75%);
$color-grey-lighter: lighten($color-black, 95%);
$color-white: #fff;
$color-red: #e95b4b;
$color-red-hover: darken($color-red, 30%);